
body{
  text-align:center;
  font-family: Helvetica;
}

.top{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-repeat:no-repeat;
  width:auto;
  height: 190px;
  color: white;
  font-size:70px
  font-weight: bold;
}

.middle{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-repeat:no-repeat;
  width:auto;
  height: 40px;
  color: white;
  font-size:23px
  font-weight: bold;
}
.bottom{
  background-color: dimgray;
  color: white;
  font-size: 11px;
  text-align: left;
}

.top a{
  color: white;
  text-align: center;
  font-size: 18px;
}

.bottom a{
  color: white;
  text-align: left;
  font-size: 18px;
}

ul{
  list-style-type: none;
  margin: o;
  padding:0;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

.text{
  font-size: 14px
}
